* {
  margin: 0px;
  padding: 0px;
}
.contenedor{
    background: #ccc;
}
body {
  width: auto;
}
.cabecera {
  width: auto;
  height: 60px;
  background: black;
  color: #ccc;
}
.cabecera li {
  width: 160px;
  height: 40px;
  text-align: center;
  font-family: sans-serif;
  align-items: center;
}
.autor, .union, .cabecera li {    
  display: inline-block; 
}
nav li {
  padding-top: 18px;
}
li:hover{
    background: #ffffff;
    height: 45px;
    width: 165px;
    color: black;
    border: 0.5px solid red;
}
.articulos a{
    color: black;
    font-weight: bold;
}
.pie {
  clear: both;
}
.principal {
  width: auto;
  height: 350px;
  margin: 8px 0px;
}
.central {
  width: 59%;
  margin: 0px 8px;
}
.articulos{
    background: #ffffff;
    padding: 0px 8px;
}
.columna {
  width: 20%;
}
.columna,
.central {
  height: 500px;
  float: left;
}
.categoria{
    text-align: left;
    margin: 15px 0px;
    padding-bottom: 10px;
}
.union, .categoria{    
    color: #999999;
}
img{
    width: 185px;
    height: 150px;
    display: block; 
}
P, date{
    font-size: 10px;
}
p{    
    margin: 5px 0px;
}
h1{
    padding-top: 8px;
}