* {
  margin: 0px;
  padding: 0px;
}
body {
  width: auto;
}
.cabecera {
  width: auto;
  height: 60px;
  background: black;
  color: #ccc;
}
.cabecera li {
  width: 160px;
  height: 40px;
  display: inline-block;
  text-align: center;
  font-family: sans-serif;
  align-items: center;
}
nav li {
  padding-top: 18px;
}
li:hover{
    background: #ffffff;
    height: 45px;
    width: 165px;
    color: black;
    border: 0.5px solid red;
}
.pie {
  clear: both;
}
.principal {
  width: auto;
  height: 350px;
  margin: 8px 0px;
}
.central {
  width: 59%;
  margin: 0px 8px;
}
.columna {
  width: 20%;
}
.columna,
.central {
  height: 500px;
  float: left;
}
